<%- include('../../components/template') %>

<main id="content">
  <div class="bg-transparent">
    <div class="sm:flex sm:items-center px-8 pt-4">
      <div class="sm:flex-auto">
        <h1 class="text-base font-medium leading-6 text-white">Settings</h1>
        <p class="mt-1 tracking-tight text-sm text-neutral-500">Function not available</p>
      </div>
    </div>
  </div>
</main>

<%- include('../../components/footer') %>
